html, body, .body {
    background: #e4e5ea;
    background-color: #e4e5ea;
}

.header {
    background: $primary-color;
    background-color: $primary-color;
    .columns {
        padding: 20px !important;
        .logo-white {
            width: 128px;
        }
        .user-icon {
            width: 32px;
        }
    }
}

.sub-header {
    background: #D65600;
    background-color: #D65600;
    .columns {
        padding: 5px 10px !important;
        .sub-header-border-right {
            border-right: 1px solid #ff690f;
        }
        a {
            color: white;
            font-size: 14px;
            font-weight: 700;
            .sub-header-icons {
                width: 20px;
                margin-right: 10px;
                display: inline-block;
                vertical-align: bottom;
            }
        }
        th {
            text-align: center;
        }
        
    }
}

.deal-of-day {
    background: #13191f;
    background-color: #13191f;
    // .deal-of-day-column {
    //     padding-top: 30px !important;
    // }
    .columns {
        th {
            padding: 30px 0 20px 0 !important;
        }
        & > table {
            table-layout: fixed;
        }
        h2 {
            color: white;
            font-weight: 900;
            font-size: 30px;
            text-align: center;
            padding-bottom: 20px;
        }
        img {
            padding-bottom: 20px;
        }
        p {
            color: white;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            padding-bottom: 20px;
        }
        span {
            display: block;
            color: white;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            &.save-amount {
                font-size: 14px;
            }
            &.tiny-info {
                font-size: 10px;
                font-weight: 500;
                padding-bottom: 10px;
            }
            &.price {
                font-size: 20px;
                padding-bottom: 10px;
            }
        }
        .button {
            display: inline-block;
            width: 150px;
            text-align: center;
            padding: 7px 0;
            border: 1px solid #fff;
            border-radius: 5px;
            color: white;
            &:hover {
                color: $primary-color
            } 
        }
    }
}

.content-area {
    background: #f1f4f7;
    background-color: #f1f4f7;
    & > tbody > tr > th {
        padding: 15px 20px !important;
    }
    .offer {
        background: white;
        background-color: white;
        .columns {
            th {
                padding: 20px !important;
            }
            .expander {
                padding: 0 !important;
            }
            & > table {
                table-layout: fixed;
            }
            img {
                padding-bottom: 20px;
            }
            p {
                color: #334755;
                font-weight: 600;
                font-size: 16px;
                text-align: center;
                padding-bottom: 20px;
            }
            span {
                display: block;
                color: white;
                font-weight: 600;
                font-size: 16px;
                text-align: center;
                &.save-amount {
                    font-size: 14px;
                    color: #1a88f3;
                }
                &.tiny-info {
                    color: #334755;
                    font-size: 10px;
                    font-weight: 500;
                    padding-bottom: 10px;
                }
                &.price {
                    color: #334755;
                    font-size: 20px;
                    padding-bottom: 10px;
                }
            }
            .button {
                background: #14181c;
                background-color: #14181c;
                display: block;
                width: 150px;
                text-align: center;
                padding: 7px 0;
                border: 1px solid #fff;
                border-radius: 5px;
                color: white;
                margin: 0 auto;
                &:hover {
                    color: $primary-color
                } 
            }
        }
        &.last-offer {
            .group-icons {
                width: 190px;
                padding-bottom: 0;
                margin: 0 auto;
            }
            .expander {
                padding: 0 !important;
            }
            h5 {
                color: #334755;
                font-weight: 600;
                font-size: 16px;
                text-align: center;
                padding-bottom: 20px;
            }
            p {
                color: #334755;
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                padding-bottom: 20px;
            }
        }
    }
}

.footer-top {
    background: #222D37;
    background-color: #222D37;
    color: white;
    & > tbody > tr > th {
        padding: 30px !important;
    }
    .top-row-first {
        th {
            padding: 5px 0 !important;
        }
        .circle-logo {
            display: block;
            margin: 0 auto;
        }
    } 
    .info-section {
        & > table > tbody > tr > th {
            color: white;
        }
        .call-to-action {   
            display: block;
            font-size: 14px;
            padding-left: 10px;
        }
        .info {
            display: block;
            font-size: 12px;
            padding-left: 10px;
            hyphens: none;
        }
    }
    .store-logos {
        .appstore-column {
            & > table > tbody > tr > th {
                padding: 5px 0 !important;
            }
        }
        .playstore-column {
            & > table > tbody > tr > th {
                padding: 5px 0 !important;
            }
        }
        img {
            height: 40px;
            width: 120px;
        }
    }
}

.footer-social {
    background: #14181c;
    background-color: #14181c;
    & > tbody > tr > th {
        padding: 20px !important;
    }
    th {
        padding: 0;
    }
    .logo-section {
        vertical-align: middle !important;
        img {
            width: 128px;
        }
    }
    .social-icons {
        .social-icon-column {
            padding: 0 !important;
            img {
                display: block;
                margin: 0 auto;
                height: 32px;
            }
        }
        
    }
}

.footer-menu {
    background: #14181c;
    background-color: #14181c;
    border-top: 2px solid #2d3e4b;
    border-bottom: 1px solid #2d3e4b;
    .columns {
        padding: 5px 10px !important;
        .sub-header-border-right {
            border-right: 1px solid #2d3e4b;
        }
        a {
            color: white;
            font-size: 14px;
            font-weight: 700;
            .sub-header-icons {
                width: 20px;
                margin-right: 10px;
                display: inline-block;
                vertical-align: bottom;
            }
        }
        th {
            text-align: center;
        }
    }
}

.footer-bottom {
    background: #14181c;
    background-color: #14181c;
    & > tbody > tr > th {
        padding: 30px !important;
    }
    .lower-links {
        margin-bottom: 15px;
        .columns{
            & > table > tbody > tr > th {
                text-align: center;
                a {
                    color: white;
                    font-size: 12px;
                    font-weight: 700;
                    margin: 0 5px;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }  
        }
    }
    .privacy {
        margin-bottom: 30px;
        p {
            color: #a0a1a3;
            font-size: 10px;
        }
    }
    .copyright, .address {
        .columns {
            & > table > tbody > tr > th {
                p {
                    color: #d0d0d1;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }
    }
}