<container>
    <row class='header'>
      <columns small='6' large='6' valign='middle'>
        <img 
          src='{{ root }}/assets/img/kayak_files/logo_white.png' 
          class='logo-white' 
        />
      </columns>
      <columns small='6' large='6' valign='middle'>
        <img 
          src='{{ root }}/assets/img/kayak_files/user.png' 
          class='user-icon float-right' 
        />
      </columns>
    </row>
    <row class='sub-header'>
      <columns></columns>
      <columns style='width: 90%;'>
        <row>
          <columns small='4' large='3' class='text-center sub-header-border-right'>
            <a href='#'>
              <img 
              src='{{ root }}/assets/img/kayak_files/airplane.png' 
              class='sub-header-icons' 
              />
              Flights
            </a>
          </columns>
          <columns small='4' large='3' class='text-center sub-header-border-right'>
            <a href='#'>
              <img 
              src='{{ root }}/assets/img/kayak_files/car.png' 
              class='sub-header-icons' 
              />
              Hotels
            </a>
          </columns>
          <columns small='4' large='3' class='text-center sub-header-border-right'>
            <a href='#'>
              <img 
              src='{{ root }}/assets/img/kayak_files/bed.png' 
              class='sub-header-icons' 
              />
              Cars
            </a>
          </columns>
          <columns class='show-for-large' large='3' class='text-center'>
            <a href='#'>
              <img 
              src='{{ root }}/assets/img/kayak_files/umbrella.png' 
              class='sub-header-icons' 
              />
              Packages
            </a>
          </columns>
        </row>  
      </columns>
      <columns></columns>
    </row>
  </container>